node_modules
.next
.git
.gitignore
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
.DS_Store
coverage
.vscode
.idea
README.md
docs
data
*.tsbuildinfo
.ace-tool
.dev
playwright-report
test-results
